.checkbox {
    width:10px;
    height:10px;
    cursor:pointer;
    background-color: white;
    transition: all 0.3s ease-in-out;
    border: 10px solid white;
    display: inline-block;
}

.marked {
    
    background-color: black; 
}

.correct {
    border-color: green;
    background-color: green;
}

.incorrect {
    border-color: red;
    background-color: red;
}